accounts/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="992437f6-1d89-430a-a368-1ed5bb3e5e34" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getCustomers" doc:id="206e8e54-07ea-4b51-a984-2a3825994e30" >
		<db:select doc:name="Select" doc:id="95fd4220-58b9-4f69-9fe3-a91e9bc7299a" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT *
FROM flights_customers
WHERE accountType= :accType]]></db:sql>
			<db:input-parameters ><![CDATA[#[accType: message.attributes.queryParams.'type' default 'personal']]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="19f2802f-34f0-4c1d-af7e-fecd09c35839" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import substringAfter from dw::core::Strings
output application/json

---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.accountID default "",
	firstName: (payload01.name as String splitBy '') [0] default "",
	lastName: (payload01.name as String splitBy '')[1] default "",
	address: ((payload01.street default "") ++ (payload01.state default "")) ++ (payload01.city default ""),
	postal: payload01.postal default "",
	country: payload01.country default "",
	miles: payload01.miles default 0,
	creationDate: payload01.creationDate as String default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getCustomersByID" doc:id="cbcf2adb-f8b7-4fec-82f2-8be31ced1159" >
		<db:select doc:name="Copy_of_Select" doc:id="a01165ce-0b32-4466-bb9c-d3cc81e07fe7" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT *
FROM flights_customers
WHERE accountID= :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[id: message.attributes.uriParams.'id']]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="bb6c5e66-0b72-4f4f-a6ed-ccee89346b96" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import substringAfter from dw::core::Strings
output application/json

---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.accountID default "",
	firstName: (payload01.name as String splitBy '') [0] default "",
	lastName: (payload01.name as String splitBy '')[1] default "",
	address: ((payload01.street default "") ++ (payload01.state default "")) ++ (payload01.city default ""),
	postal: payload01.postal default "",
	country: payload01.country default "",
	miles: payload01.miles default 0,
	creationDate: payload01.creationDate as String default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
